.caption
{
    height: 124px;
}

.produtos_link:hover
{
    text-decoration: none;
}

.produtos_div:hover
{
    -moz-box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
    box-shadow: 0 0 8px #ccc;
}

.img_produto_carrinho
{
    height: 50%;
    width: 50%;
}

.item_carrinho
{
    border-top: 0.5px solid #c5c5c578;
}

.quantidade_carrinho
{
    padding: 0px;

}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    color: inherit;
}
